<%- include('./header') %>
  <style>
    body {
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="container pt-5">
    <h1>We lost this page</h1>
    <p>We searched high and low but couldn’t find what you’re looking for. Let’s find a better place for you to go.</p>
    <a href="https://besky.shop" class="btn btn-dark rounded-pill">Be.sky Home</a>
    <div class="illustration mt-4">
      <!-- Replace the placeholder image source with your illustration -->
      <img src="/public/assets/8463bcfdb4cbd8c11639b27fa460f2a7.jpg" alt="Illustration of a horse">
    </div>
  </div>

  <script src="/public/js/script.js"></script>

