@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&display=swap");

.custom-toast-container {
  min-width: 300px;
  max-width: 600px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.3s ease;
  z-index: 1000;
}

.custom-toast {
  width: 100%;
  background-color: #ffffff;
  /* border: 1px solid #00000013; */
  border-radius: 5px;
  padding: 16px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.15);
  font-family: Poppins, sans-serif;
  font-size: 12px;
  position: relative;
  left: 50%;
  opacity: 1;
  animation: fadeInUp 0.3s ease forwards;
  transition: transform 0.3s ease, opacity 0.3s ease;
  margin-bottom: 10px;
}

/* Toast types */
.custom-toast.custom { background-color: #ffffff; color: #000000; }
.custom-toast.success { background-color: #daf5da; color: #50c878; }
.custom-toast.error { background-color: #fddddd; color: #ff4c4c; }
.custom-toast.info { background-color: #e0ecff; color: #4a90e2; }

/* Overlapping Effect for Default State */
.custom-toast:nth-last-child(3) {
  transform: translate(-50%, 90px) scale(0.9);
  /* opacity: 0.8; */
  z-index: 1;
}
.custom-toast:nth-last-child(2) {
  transform: translate(-50%, 45px) scale(0.95);
  /* opacity: 0.9; */
  z-index: 2;
}
.custom-toast:nth-last-child(1) {
  transform: translate(-50%, 0px) scale(1);
  opacity: 1;
  z-index: 3;
}

/* Vertical Stack on Hover */
.custom-toast-container:hover .custom-toast {
  position: relative;
  transform: translateX(-50%) translateY(0px) scale(1);
  opacity: 1;
  margin-bottom: 10px;
}