/* breadcrumbs */
.breadcrumbs {
  margin: 20px;
}

.breadcrumbs a,
.breadcrumbs span {
  text-decoration: none;
  font-size: var(--12px);
  color: #000000;
}

.breadcrumbs a:hover {
  text-decoration: underline;
}

.breadcrumbs span {
  margin: 0 5px;
}

/* product card */

.product-card {
  position: relative;
  transition: transform 0.3s ease;
  border: none;
  border-radius: 0;
}

.product-card:hover {
  transform: translateY(-10px);
}

.product-card .bi-heart , .bi-heart-fill {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 20px;
  cursor: pointer;
}

.product-img {
  border-radius: 0;
}


.product-card p {
  font-size: var(--12px);
  text-wrap: nowrap;
  contain: content;
}

/* input styles */
.form-control,
.form-select {
  border: 1px solid black;
}

label {
  font-size: 0.75rem;
}

.form-check-input {
  border-color: black;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  border-color: #000;
}

.form-check-label {
  font-size: 0.75rem;
}

.form-check-input:checked {
  background-color: #000;
  border: none;
  margin-right: 0.25rem;
  cursor: pointer;
}

.form-check-input:focus {
  box-shadow: none;
  border-color: #000;
}


.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Hide the default radio button */
.radio-group input[type="radio"] {
  display: none;
}

/* Style the label to look like a button */
.radio-group .radio-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 10px;
  border: 2px solid #ccc;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
  font-size: 12px;
  color: #333;
}

/* Add space between icon and text */
.radio-group .radio-label i {
  margin-right: 8px;
}

/* Default style for unselected buttons */
.radio-group .radio-label:hover {
  background-color: #f2f2f2;
}

/* Style for selected radio buttons */
.radio-group input[type="radio"]:checked+label {
  background-color: #fff;
  border-color: #000000;
  /* Orange color when selected */
  color: #000000;
  box-shadow: 0 0 10px rgba(61, 61, 61, 0.2);
}


/* input error styles */
.required-star {
  font-size: 0.875rem;
  color: #DC3545;
}

.error-message {
  color: #DC3545;
  font-size: 0.75rem;
}

.form-control.is-invalid {
  border-color: #DC3545;
}

.form-control.is-invalid:focus,
.form-select.is-invalid:focus {
  box-shadow: none;
}

.form-group {
  position: relative;
}

/* ////////////////// */
.stock {
  color: #1CD53E;
  background-color: #1cd53e47;
  padding: 2px 6px;
  font-size: var(--12px);
  border-radius: 5px;
}

.stock-out {
  color: #DC3545;
  background-color: #dc354660;
  padding: 2px 6px;
  font-size: var(--12px);
  border-radius: 5px;
}


/* stepper styles */

.stepper {
  position: relative;
}

.stepper::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  border: 1px dashed;
  background-color: #ddd;
  z-index: 0;
}

.step {
  position: relative;
  text-align: center;
  z-index: 1;
}

.step p {
  font-size: 12px;
  color: #333;
}

.step .icon {
  width: 40px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #333;
}

.step.completed .icon {
  background-color: #000;
  color: #fff;
}

.step.upcoming .icon {
  background-color: #ddd;
  color: #666;
}

/* profile */
/* Sidebar lg styles */
.sidebar {
  background: #fff;
  position: fixed;
  top: 6rem;
  left: 3.125rem;
  border: 1px solid #ddd;
  max-width: 250px; /* Corrected to lowercase 'px' */
}
.sidebar .admin-welcome {
  border-bottom: solid 1px #ddd;
}
.sidebar a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 15px 20px;
}
.sidebar a.active {
  background-color: #000;
  color: #fff;
}
.sidebar a.active:hover {
  background-color: #000;
  color: #fff;
}
.sidebar a:not(.active):hover {
  background-color: #f0f0f0;
}


.content {
  margin-left: 300px;
  margin-top: 4px;
  padding: 20px;
}

@media (max-width: 991.98px) {

  .content {
    margin-left: 0;
  }
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.success-label {
  color: #1CD53E;
  background-color: #1cd53e47;
  padding: 2px 6px;
  font-size: var(--12px);
  border-radius: 5px;
}

.danger-label {
  color: #DC3545;
  background-color: #dc354660;
  padding: 2px 6px;
  font-size: var(--12px);
  border-radius: 5px;
}