<%- include('../partials/authHeader') -%>

<div class="container-fluid">
  <div class="logo text-white d-none d-lg-block">BE.SKY</p></div>
  <div class="logo d-lg-none">BE.SKY</p></div>
  <div class="row">
    <div class="col-lg-7 image-section p-0 d-none d-lg-block">
      <img src="/public/assets/reza-delkhosh-LlfT0czjzKc-unsplash (1).jpg" alt="login-banner">
    </div>
    <div class="col-lg-5 d-flex justify-content-center">
      <div class="form-section">
        <h2 class="fw-bold mb-0">Forgot Password</h2>
        <p class="text-secondary">Enter your email address here</p>
        <br>
        <% if (locals.message) {%>
          <p>
            <%= message %>
          </p>
          <% } %>
          <% if (locals.errorMessage) {%>
            <p class="error">
              <%= errorMessage %>
            </p>
            <% } %>
            <form id="forgot-password-form" action="/auth/forgot-password" method="POST">
              <div class="mb-3 position-relative">
                <input type="email" class="form-control" id="email" name="email" placeholder=" ">
                <label for="email" class="form-input">Email Address</label>
              </div>
              
              <div class="form-links">
              <button type="submit" class="btn btn-dark mb-3">Send OTP</button>
            </form>
          </div>
        </div>
      </div>
    </div>


<%- include('../partials/authFooter') -%>
    