<%- include('../partials/header') -%>

  <!-- Carousel -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="
        background-image: url('static/uploads/city-model-agency-cm-models-paris-girl-2.jpg');
      ">
        <div class="carousel-caption d-md-block text-start">
          <h5>Classic Exclusive</h5>
          <p>Women's Collection UP TO 40% OFF</p>
          <a href="#" class="btn btn-dark">Shop Now</a>
        </div>
      </div>
      <div class="carousel-item" style="
        background-image: url('static/uploads/city-model-agency-cm-models-paris-girl-2.jpg');
      ">
        <div class="carousel-caption d-md-block text-start">
          <h5>New Arrivals</h5>
          <p>Check out our latest collection</p>
          <a href="#" class="btn btn-dark">Shop Now</a>
        </div>
      </div>
      <!-- Add more carousel items as needed -->
    </div>
  </div>


  <%- include('../partials/footer') -%>