<%- include('../partials/authHeader') -%>
  <style>
    .otp-container input {
      width: 45px;
      height: 45px;
      border-radius: 5px;
      border: solid 1px #dddddd;
      text-align: center;
    }

    .otp-container input:focus,
    .otp-container input:valid {
      border: solid 1.7px #000;
    }

    #resend-link {
      font-size: var(--14px);
      pointer-events: none;
      cursor: not-allowed;
    }
  </style>

  <div class="container-fluid">
    <div class="logo text-white d-none d-lg-block">BE.SKY</p>
    </div>
    <div class="logo d-lg-none">BE.SKY</p>
    </div>
    <div class="row">
      <div class="col-lg-7 image-section p-0 d-none d-lg-block">
        <img src="/public/assets/sobhan-joodi-QPNaz7qS16c-unsplash.jpg" alt="login-banner">
      </div>
      <div class="col-lg-5 d-flex justify-content-center">
        <div class="form-section">
          <h4 class="fw-bold mb-0">Reset Password</h4>
          <!-- Display Success Flash Message -->
          <% if (successMessage && successMessage.length > 0) { %>
            <p class="text-secondary" id=""><%- successMessage %></p>
          <% } %>
          
          <!-- Display Error Flash Message -->
          <% if (errorMessage && errorMessage.length > 0) { %>
            <p class="error-message" id="error-message"><%- errorMessage %></p>
          <% } %>
                  <br>
                  <form id="resetPasswordForm" action="/auth/reset-password" method="POST">
                    <div class="otp-container d-flex justify-content-between gap-2 mb-2">
                      <input type="number" class="otp-input" maxlength="1" id="otp1" name="otp1">
                      <input type="number" class="otp-input" maxlength="1" id="otp2" name="otp2">
                      <input type="number" class="otp-input" maxlength="1" id="otp3" name="otp3">
                      <input type="number" class="otp-input" maxlength="1" id="otp4" name="otp4">
                      <input type="number" class="otp-input" maxlength="1" id="otp5" name="otp5">
                      <input type="number" class="otp-input" maxlength="1" id="otp6" name="otp6">
                    </div>
                    <div id="otpError" class="error-message"></div>



                    <div class="d-flex justify-content-between resend-container">
                      <p class="text-secondary">
                        Resend OTP in <span id="countdown">30</span> seconds
                      </p>
                      <a href="/auth/resend-otp/reset" id="resend-link"
                        class="text-muted text-decoration-none resend-link">Resend OTP</a>
                    </div>

                    <div class="mb-3 position-relative">
                      <input type="password" class="form-control" id="password" name="password" placeholder=" "/>
                      <label for="password" class="form-input">Password</label>
                      <span class="input-group-text" onclick="togglePassword('password')">
                        <i class="bi bi-eye-slash" id="togglePasswordIcon"></i>
                      </span>
                      <div id="passwordError" class="error-message"></div>
                    </div>
                    <div class="mb-3 position-relative">
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                        placeholder=" "/>
                      <label for="confirmPassword" class="form-input">Confirm Password</label>
                      <span class="input-group-text" onclick="togglePassword('confirmPassword')">
                        <i class="bi bi-eye-slash" id="toggleConfirmPasswordIcon"></i>
                      </span>
                      <div id="confirmPasswordError" class="error-message"></div>
                    </div>
                    <button type="submit" class="btn btn-dark mb-3">Change Password</button>
                  </form>
        </div>
      </div>
    </div>
  </div>


  <script>
    // Move to next input after entering a number
    const inputs = document.querySelectorAll('.otp-input');
    inputs.forEach((input, index) => {
      input.addEventListener('input', (e) => {
        if (input.value.length === 1 && index < inputs.length - 1) {
          inputs[index + 1].focus();
        }
      });
    });

    // Countdown for Resend OTP link activation
    let countdown = 30;
    const countdownElement = document.getElementById('countdown');
    const resendLink = document.getElementById('resend-link');

    const timer = setInterval(() => {
      countdown--;
      countdownElement.innerText = countdown;

      if (countdown === 0) {
        clearInterval(timer);
        resendLink.style.pointerEvents = 'auto';
        resendLink.style.cursor = 'pointer';
        resendLink.classList.remove('text-muted');
        resendLink.classList.add('text-dark');
      }
    }, 1000);
  </script>

  <%- include('../partials/authFooter') -%>