<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= locals.title ? title: "Verify OTP" %>
  </title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  <h1>Verify OTP</h1>
  <% if (locals.message) {%>
    <p>
      <%= message %>
    </p>
    <% } %>
      <% if (locals.errorMessage) {%>
        <p>
          <%= errorMessage %>
        </p>
        <% } %>
          <form action="/auth/verify-otp" method="POST">
            <label for="otp">Enter OTP:</label>
            <input type="text" id="otp" name="otp" required>
            <button type="submit">Verify OTP</button>
          </form>
</body>

</html>